html, body {
    height: 100%;
    cursor: url("img/cursor/normal.png"), auto !important;
}
body {
    display: flex;
    flex-direction: column;
    color: #FAF9F6;
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
    background-color: black;
    /*background-image: url("background.jpg");*/
    min-height: 100vh;
    overflow-x: hidden;
}

video {
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
}

main {
    margin: 20px;
    height: auto;
    padding-bottom: 50px;
    flex: 1 0 auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 80%;
    text-align: center;
}

#logo {
    -webkit-animation: spin 5s infinite;
    animation: spin 5s infinite;
}

@-webkit-keyframes spin{
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}
@keyframes spin{
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

h2 {
    text-align: center;
    padding: 10px 50px;
    overflow: hidden;
}

h2 span {
    display: inline-block;
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


h3 {
    font-style: italic;
    text-align: center;
}

p {
    margin: 0;
    text-align: center;
}

a {
    color: red;
}

a:hover, button:hover {
    cursor: url("img/cursor/hover.png"), auto !important;
}

a:active, button:hover {
    cursor: url("img/cursor/click.png"), auto !important;
}

a h3 {
    color: #FAF9F6;
    text-decoration: none !important;
}

strong {
    position: relative;
    display: inline-block;
}

strong::after {
    content: '';
    position: absolute;
    left: -30px;
    right: -20px;
    bottom: -2px;
    height: 4px;
    background: linear-gradient(135deg, transparent 10%, red 40%, red 60%, transparent 90%);
    border-radius: 3px;
    transform: rotate(-4deg);
    z-index: -1;
}

hr {
    margin: 0;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
.img-div img {
    height: 70px;
}

.img-div h2 {
    margin: 0 10px;
}
@media (max-width: 600px) {
    .img-div {
        flex-direction: column;
    }

    .img-div h2 {
        margin: 10px 0;
    }

    .img-div img {
        margin: 5px 0;
    }
}


nav {
    display: flex;
    justify-content: center;
    font-size: 22px;

}
.nav-link {
    color: #FAF9F6;
    text-decoration: none;
    padding: 0 40px;
    border-bottom: 1px solid #FAF9F6;
    border-right: 1px solid #FAF9F6;
    border-left: 1px solid #FAF9F6;
}
.nav-active {
    border-bottom: 3px solid #FAF9F6;
    border-right: 2px solid #FAF9F6;
    border-left: 1px solid #FAF9F6;
}
.nav-link:hover {
    border-bottom: 3px solid #FAF9F6;
    border-right: 2px solid #FAF9F6;
    border-left: 1px solid #FAF9F6;
    cursor: url("img/cursor/hover.png"), auto !important;
}
.nav-link:active {
    cursor: url("img/cursor/click.png"), auto !important;
}

.storeContainer {
    margin: 100px 0 0 0;
}

.ecwid-productBrowser {
    background-color: transparent;
}


/* Über uns */
/* Default mobile layout */
.employee {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

/* Desktop layout */
@media (min-width: 768px) {
    .employee-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .employee {
        margin-bottom: 0;
    }
}


footer {
    flex-shrink: 0;
    background-color: rgba(200, 200, 200, 0.5);
    color: #fff;
    text-align: center;
    width: 100vw;
    padding: 20px 0;
}