body {
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
    background-image: url("background.jpg");
}

main {
    margin: 20px;
}

#logo {
    width: 400px;
    max-width: 80%;
    margin: 0 auto;
}

h3 {
    font-style: italic;
}


footer {
    background-color: rgba(200, 200, 200, 0.4);
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}