html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    color: #FAF9F6;
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
    background-image: url("background.jpg");
    min-height: 100vh;
}

main {
    margin: 20px;
    height: auto;
    padding-bottom: 150px;
    flex: 1 0 auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 80%;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    font-style: italic;
    text-align: center;
}

p {
    margin: 0;
    text-align: center;
}

a h3 {
    color: #FAF9F6;
    text-decoration: none !important;
}

footer {
    flex-shrink: 0;
    background-color: rgba(200, 200, 200, 0.4);
    color: #fff;
    text-align: center;
    width: 100vw;
    padding: 20px 0;
}